/* Import CSS */
@import url('reset.css');
@import url('variables.css');

/* Default CSS */
* {
  font-family: var(--primary-kr);
  font-weight: 400;
  box-sizing: border-box;
}
body {
  margin: 0;
  color: var(--dark-black);
  font-size: 16px;
}

/* ######## Common CSS ######## */
.container {
  width: 100%;
  position: relative;
}
[class*=inner] {
  width: 1230px;
  margin: auto;
}
/* Button CSS */
.btn-primary {
  border: none;
  padding: 13px 35px;
  border-radius: 40px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.btn-primary:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  border-radius: 40px;
  z-index: -1;
  transition: .5s;
}

/* ######## Header CSS ######## */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: transparent;
  transition: 0.3s;
}
header:hover,
header.scroll {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
}
.header-inner {
  width: 1230px;
  height: 90px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.logo-gnb {
  display: flex;
  align-items: center;
  gap: 50px;
}
.logo {
  width: 180px;
  cursor: pointer;
  transform: translateY(2px);
}
.logo img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.btn-trigger {
  display: none;
}
.gnb {
  display: flex;
  gap: 24px;
}
.gnb a {
  font-size: 20px;
  padding: 10px;
  position: relative;
}
.gnb a:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: var(--primary-color);
  transition: .2s;
}
.gnb a:hover:after {
  width: 100%;
}
.gnb a:hover,
.gnb a.active {
  color: var(--primary-color);
}
.gnb a.active:after {
  width: 100%;
}
.gnb.mobile-gnb {
  display: none;
  width: 0;
  visibility: hidden;
  opacity: 0;
}
.donate-sign {
  display: flex;
  align-items: center;
  gap: 20px;
}
.btn-primary.btn-donate {
  background-color: var(--secondary-color);
  color: #fff;
}
.btn-primary.btn-donate:hover:before {
  width: 100%;
  background-color: var(--hover-color);
}
.sign ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
}
.sign ul li {
  position: relative;
}
.sign ul li:after {
  content: '|';
  font-size: 20px;
  color: #ccc;
  position: absolute;
  transform: translateX(10px);
}
.sign ul li:last-child:after {
  content: '';
}
.sign ul li a {
  font-size: 20px;
}


/* ######### Section: Main Slider ######### */
.main-slider-inner {
  width: 100%;
}
.main-slider-items {
  position: relative;
  cursor: grab;
}
.main-slider-item {
  width: 100%;
  height: calc(100vh);
  position: relative;
  overflow: hidden;
  will-change: transform;
}
.main-slider-item .img-box {
  width: inherit;
  height: inherit;
}
.main-slider-item .img-box img {
  position: relative;
  z-index: 10;
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center 30%;
  visibility: hidden;
  opacity: 0;
  transform: scale(1.04);
}
.main-slider-items.slick-initialized .main-slider-item  .img-box img {
  visibility: visible;
  opacity: 1;
}
.slick-active .main-slider-item .img-box img {
  animation: sliderimgscale 4.8s linear forwards;
}
@keyframes sliderimgscale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.04);
  }
}
.slider-headline {
  position: absolute;
  top: 50%;
  color: #fff;
  z-index: 100;
}
.main-slider-first .slider-headline {
  right: 15%;
  transform: translateY(-50%);
  text-align: right;
}
.main-slider-second .slider-headline {
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main-slider-third .slider-headline {
  left: 15%;
  transform: translateY(-50%);
  text-align: left;
}
.slider-headline h2 {
  margin-bottom: 0;
}
.slider-headline h1,
.slider-headline h1 em {
  font-family: var(--primary-en);
  font-weight: 700;
  font-size: 100px;
}
.slider-headline h1 {
  line-height: 0.9em;
  margin-bottom: 40px;
}
.slider-headline h1 em {
  color: var(--primary-color);
}
.btn-primary.btn-slider {
  background-color: var(--primary-color);
  color: #fff;
  transition: 0.2s;
}
.btn-primary.btn-slider:hover {
  background-color: #fa9016;
}
/* Main Slider Custom CSS */
.main-slider-items .slick-dots {
  display: none !important;
}
.main-slider-items .slick-arrow {
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
}
.main-slider-items .slick-arrow:before {
  font-family: bootstrap-icons;
  font-size: 35px;
  opacity: 0.5;
  transition: 0.2s;
}
.main-slider-items .slick-prev {
  left: 2%;
}
.main-slider-items .slick-prev:before {
  content: '\F284';
}
.main-slider-items .slick-next {
  right: 2%;
}
.main-slider-items .slick-next:before {
  content: '\F285';
}
.main-slider-items .slick-arrow:hover:before {
  opacity: 1;
}

/* ######### Section: Promotion ######### */
.promotion-inner {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}
.promotion-items {
  display: flex;
  justify-content: center;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
}
.promotion-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  text-align: center;
  color: #fff;
}
.promotion-item:nth-of-type(1) {
  background-color: #fafafa;
}
.promotion-item:nth-of-type(1) h3 {
  color: var(--dark-black)
}
.promotion-item:nth-of-type(1) p {
  color: var(--light-gray);
}
.promotion-item:nth-of-type(2) {
  background-color: var(--secondary-color);
}
.promotion-item:nth-of-type(3) {
  background-color: var(--primary-color);
}
.promotion-item img {
  width: 70px;
  height: 70px;
}
.promotion-item h3 {
  margin: 24px 0 8px 0;
}
.promotion-item p {
  margin: 10px 0 20px 0;
  font-weight: normal;
  line-height: 1.8em;
}
.btn-primary.btn-promotion {
  width: 180px;
  font-size: 16px;
  position: relative;
  z-index: 1;
  transition: .5s;
}
.promotion-item:nth-of-type(1) .btn-primary.btn-promotion {
  background-color: var(--primary-color);
  color: #fff;
}
.btn-primary.btn-promotion:hover:before {
  width: 100%;
}
.promotion-item:nth-of-type(1) .btn-primary.btn-promotion:hover:before {
  background-color: var(--hover-color);
}
.promotion-item:nth-of-type(2) .btn-primary.btn-promotion:hover {
  color: #fff;
}
.promotion-item:nth-of-type(2) .btn-primary.btn-promotion:hover:before {
  background-color: var(--primary-color);
}
.promotion-item:nth-of-type(3) .btn-primary.btn-promotion:hover {
  color: #fff;
}
.promotion-item:nth-of-type(3) .btn-primary.btn-promotion:hover:before {
  background-color: var(--secondary-color);
}

/* ######### Section: Donation ######### */
.donation {
  background: url('../images/donation-background.png') no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}
.donation-headline * {
  font-weight: bold;
  text-align: center;
}
.donation-headline h1 em {
  color: var(--primary-color);
}
.donation-items {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.donation-item {
  flex: 1;
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: .3s;
}
.donation-item:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.donation-item .photo {
  width: 100%;
  height: 250px;
}
.donation-item .photo img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.donation-item .desc {
  background-color: #fff;
  padding: 40px;
}
.donation-item .desc span em {
  color: var(--primary-color);
}
.donation-item .desc h3 {
  margin-top: 10px;
  font-weight: 700;
}
.donation-item .desc p {
  color: var(--light-gray);
  line-height: 1.8em;
  margin-bottom: 0;
}
.status {
  background-color: var(--status-color);
  padding: 30px;
}
.status > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.status span {
  color: var(--light-gray);
}
.progress {
  width: 190px;
  padding: 2px 2px;
  border-radius: 30px;
  background-color: rgba(230, 230, 230, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}
.progress-bar {
  height: 10px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
  background-color: var(--primary-color);
}
.progress-first .progress-bar {
  width: 50%;
  animation: progressAnimation1 3s;
}
.progress-second .progress-bar {
  width: 60%;
  animation: progressAnimation2 3s;
}
.progress-third .progress-bar {
  width: 85%;
  animation: progressAnimation3 3s;
}
@keyframes progressAnimation1 {
  0%   { width: 5%; background-color: #fabf5f;}
  100% { width: 50%; background-color: var(--primary-color); }
}
@keyframes progressAnimation2 {
  0%   { width: 5%; background-color: #fabf5f;}
  100% { width: 60%; background-color: var(--primary-color); }
}
@keyframes progressAnimation3 {
  0%   { width: 5%; background-color: #fabf5f;}
  100% { width: 85%; background-color: var(--primary-color); }
}

/* ######### Section: About ######### */
.about {
  background-color: #F9F9F9;
  padding: 100px 0;
}
.about-explanation {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
  gap: 40px;
}
.about-explanation .photo {
  position: relative;
}
.about-explanation .photo img {
  width: 580px;
  display: block;
  border-radius: 8px;
}
.about-explanation .detail h1 {
  font-weight: bold;
  margin-bottom: 0;
}
.about-explanation .detail h1 em {
  font-weight: bold;
  color: var(--primary-color);
}
.about-explanation .detail p {
  line-height: 1.7em;
  word-break: keep-all;
}
.about-explanation .detail p:nth-of-type(2) {
  color: var(--light-gray);
}
.btn-primary.btn-about {
  background-color: var(--primary-color);
  color: #fff;
}
.btn-primary.btn-about:hover:before {
  width: 100%;
  background-color: var(--hover-color);
}
.about-items {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.about-item {
  border: 2px solid var(--border-color);
  padding: 40px 50px 40px 40px;
  flex: 1;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  transition: .3s linear;
}
.about-item:hover {
  border: 2px solid var(--primary-color);
}
.about-item:before {
  content: '';
  position: absolute;
  background: url(../images/about-background.png) center center no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  opacity: .15;
  top: 20%;
  right: -10%;
  transition: .5s;
}
.about-item:hover:before {
  right: -13%;
  top: 22%;
}
.about-item h3 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}
.about-item p {
  color: var(--light-gray);
  line-height: 1.8em;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}

/* ######### Section: History ######### */
.history {
  background: url(../images/history-background.jpg) center center no-repeat;
}
.history-inner {
  padding: 80px 0;
}
.history-content h1,
.history-content h3 {
  color: #fff;
  font-weight: bold;
}
.history-headline {
  text-align: center;
  margin-bottom: 45px;
}
.history-headline h1 {
  margin-bottom: 20px;
}
.history-headline h3 {
  line-height: 1.6em;
}
.history-items {
  display: flex;
  justify-content: space-between;
}
.history-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.history-item h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.history-item h3 {
  line-height: 1.5em;
}

/* ######### Section: Rescue ######### */
.rescue {
  margin: 100px 0;
}
.rescue-headline * {
  font-weight: bold;
  text-align: center;
}
.rescue-headline h1 em {
  color: var(--primary-color);
}
.rescue-items {
  display: flex;
  counter-reset: num 0;
}
.rescue-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rescue-item .photo {
  width: 180px;
  height: 180px;
  position: relative;
  transition: .3s;
}
.rescue-item:hover .photo {
  transform: translateY(-5px);
}
.rescue-item .photo:before {
  content: '';
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--border-color);
  border-radius: 50%;
  z-index: -1;
  transition: .3s;
}
.rescue-item:hover .photo:before {
  background-color: var(--primary-color);
}
.rescue-item .photo:after {
  counter-increment: num;
  content: "0" counter(num);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  bottom: 0;
  right: 0;
  background-color: var(--secondary-color);
  transition: .3s;
}
.rescue-item:nth-of-type(1) .photo:after,
.rescue-item:nth-of-type(3) .photo:after {
  top: 0
}
.rescue-item:hover .photo:after {
  background-color: var(--primary-color);
  transform: rotate(360deg);
}
.rescue-item .photo img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}
.rescue-item h3 {
  font-weight: bold;
  margin: 20px 0;
}

/* ######### Section: Story ######### */
.story-headline {
  text-align: center;
}
.story-headline * {
  font-weight: bold;
}
.story-headline h1 em {
  color: var(--primary-color);
}
.story-items {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.story-item {
  flex: 1;
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: .3s;
  border-radius: 8px;
  overflow: hidden;
}
.story-item:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.story-item .photo {
  width: 100%;
  height: 250px;
  position: relative;
}
.story-item .photo:after {
  content: '';
  position: absolute;
  width: 130px;
  height: 40px;
  background-color: var(--secondary-color);
  left: 0;
  bottom: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.story-item:nth-of-type(1) .photo:after {
  content: '2023-02-14'
}
.story-item:nth-of-type(2) .photo:after {
  content: '2022-12-20'
}
.story-item:nth-of-type(3) .photo:after {
  content: '2022-10-25'
}
.story-item .photo img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.story-item .desc {
  padding: 40px;
}
.story-item .desc h3 {
  font-weight: bold;
  word-break: keep-all;
}
.story-item .desc p {
  color: var(--light-gray);
  line-height: 1.8em;
  margin-bottom: 40px;
}
.btn-primary.btn-story {
  background-color: var(--primary-color);
  color: #fff;
}
.btn-primary.btn-story:hover:before {
  width: 100%;
  background-color: var(--hover-color);
}

/* ######### Section: Sponsor ######### */
.sponsor {
  margin: 80px 0;
}
.sponsor-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.sponsor-items .slick-list .slick-track {
  display: flex;
  align-items: center;
}
.sponsor-items .slick-slide {
  display: flex;
  justify-content: center;
  height: 100%;
}
.sponsor-item img {
  width: 200px;
  object-fit: cover;
  filter: grayscale(1);
  transition: .2s;
  cursor: pointer;
}
.sponsor-item:hover img {
  filter: grayscale(0);
}
.mobile-sponsor-items {
  display: none;
}

/* ######## Footer CSS ######## */
footer {
  background-color: var(--secondary-color);
}
.footer-inner {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.footer-inner>div {
  flex: 1;
}
.company-link a {
  position: relative;
  margin-right: 20px;
}
.company-link a:after {
  content: '|';
  position: absolute;
  right: -14px;
}
.company-link a:last-child:after {
  content: '';
}
.company-info {
  margin-top: 30px;
}
.company-info b {
  font-size: 20px;
  font-weight: bold;
}
.company-info div {
  margin-top: 30px;
  line-height: 1.8em;
}
.company-info div span {
  display: block;
  margin: 5px 0;
}
.sns {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
.sns a i {
  color: #fff;
  font-size: 30px;
  transition: .3s;
}
.sns a:nth-child(1):hover i {
  color: #E4405F;
}
.sns a:nth-child(2):hover i {
  color: #CD201F;
}
.sns a:nth-child(3):hover i {
  color: #1877F2;
}
.sns a:nth-child(4):hover i {
  color: #1DA1F2;
}
.account-info {
  margin: 15px 0 20px 0;
}
.account-info h3 {
  text-align: right;
  margin-bottom: 0;
  line-height: 1.5em;
  font-size: 18px;
}
.letter b {
  display: block;
  font-size: 20px;
  text-align: right;
  margin-bottom: 10px;
}
.input-field {
  text-align: right;
}
.input-field input {
  padding: 10px;
  margin-right: 10px;
}
.apply {
  width: 90px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 11px;
  cursor: pointer;
}
.apply:hover {
  background-color: #fa9016;
}
/* Scroll Top Button */
.scroll-top {
  position: fixed;
  right: 30px;
  bottom: 40px;
  width: 60px;
  height: 60px;
  background-color: var(--primary-color);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: none;
}
.scroll-top i {
  color: #fff;
  font-size: 30px;
}
.scroll-top:hover {
  opacity: 1;
}